################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LIOSCare.ClinicPortal.Web/bin/Debug/net10.0
/src/LIOSCare.ClinicPortal.Web/obj
/.vs
/src/LIOSCare.ClinicPortal.Web/bin/