################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/LIOSCare.ClinicPortal.Web/bin/Debug/net10.0
/src/LIOSCare.ClinicPortal.Web/obj
/.vs
/src/LIOSCare.ClinicPortal.Web/bin/
src/LIOSCare.ClinicPortal.Web/bin/Release/
src/LIOSCare.ClinicPortal.Web/bin/Release/net10.0/appsettings.json
src/LIOSCare.ClinicPortal.Web/bin/Release/net10.0/appsettings.Production.json
